@media  (max-width:576px ){
    .main_menu_area{
        padding: 0;
    }
    .main_menu_area .header_nav .navbar-toggle{
        position: relative;
        left: 300px;
        top: 45px;
    }
    .main_menu_area .header-social-right ul::before, .main_menu_area .logo::before{
        height: 0;
    }
    .main_menu_area .logo::before{
        height: 0;
    }
    .main_menu_area nav.navbar.navbar-default {
        display: flex;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}
@media  (min-width:577px ) and (max-width:767px ){
    .main_menu_area .header_nav .navbar-toggle{
        position: relative;
        left: 380px;
        top: 45px;
    }
    .main_menu_area .logo:before {
        top: -30px;
        right: 45%;
        height: 0;
    }
    .main_menu_area nav.navbar.navbar-default {
        display: flex;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}
@media  (max-width:991px ) and (min-width:768px ){
    .main_menu_area .header_nav .navbar-toggle{
        position: relative;
        left: 550px;
        top: 45px;
    }
    .main_menu_area .logo:before {
        top: -30px;
        right: 45%;
        height: 0;
    }
    .main_menu_area nav.navbar.navbar-default {
        display: flex;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}
